* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4 {
  text-wrap: balance;
  margin: 0;
}

p, li, ul, ol {
  text-wrap: pretty;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
}