.main {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  color: $black;
  .today {
    padding: 50px;
    background-color: $white;
    width: 25%;
  }
  .weather-info {
    padding: 50px 75px;
    background-color: $gray-light;
    width: 75%;
  }
}