.extra-info-today {
  display: block;
  margin: 25px 25px 50px;
  .weather, .rain {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    img {
      width: 32px;
      height: 32px;
    }
    p {
      font-size: 20px;
    }
  }
}